@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">Recruiment Project</p>
        <p><a href="https://github.com/Mahatabe" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

</main>